@page
@model WebApp.Pages.Settings
@{
    ViewData["Title"] = "Settings Page";
}
<h1>@ViewData["Title"]</h1>

<p>Here you can set up your config</p>
<a href="GameConfigs">Click here to see list of available Game Configs</a><br/>
<a href="SavedGames">Click here to see list of available Saved Games</a>
