@page
@model WebApp.Pages.Settings
@{
    ViewData["Title"] = "Settings Page";
}
<!--<h1>@ViewData["Title"]</h1>-->

<!--<a href="GameConfigs">Click here to see list of available Game Configs</a><br/>
<a href="SavedGames">Click here to see list of available Saved Games</a>-->

<div class="div-center text-center">
    <h3>Here you see information with</h3><br/>
    <button class="btn btn-primary" onclick="location.href='GameConfigs'">Available Game Configs</button>
    <button class="btn btn-primary" onclick="location.href='SavedGames'">Available Saved Games</button>
</div>
