@page
@model WebApp.Pages.Game.Index
@{
    ViewData["Title"] = "Game";
    Index.TurnCounter = 0;
}

<div class="div-center text-center">
    @{
        if (@Model.GameId == 0)
        {
            <h3>It looks like you do not have a game yet.</h3>
            <h3>Would you like to start a new game or continue an old one?</h3><br/>
            <button class="btn btn-primary" onclick="location.href='../Game/ChooseConfig'">Start a new one</button>
            <button class="btn btn-primary" onclick="location.href='../Game/LoadGame'">Continue</button>
        }
    }
    
    @{
        if (@Model.GameId != 0)
        {
            <h3>The game is now loaded. You can start it now:</h3><br/>
            <!--<button class="btn btn-primary" onclick="location.href='../Game/Play'">Play a game</button>-->
            <a class="btn btn-primary" asp-page="./Play" asp-route-gameId="@Model.GameId">Start Game</a>
            <!-- Started thinking that this button is useless here.-->
            <!--<br/><br/><br/> 
            <h3>If you want to reset the game, click here:</h3><br/>
            <button class="btn btn-primary" onclick="location.href='../Game/SetShips?resetGame=true'">Start a new game</button>-->
        }
    }
</div>

